@{
    ViewData["Title"] = "Home Page";
}

@model PaginatedList<DemoGenerateursEtValidation.Models.Auto>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p>
    <a asp-action="Create">Ajouter</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Recherche: <input type="text" name="recherche" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Rechercher" class="btn btn-default" /> |
            <a asp-action="Index">Retour à la liste complète</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Marque
            </th>
            <th>
                Modèle
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-action="Index" asp-route-pageNumber="@(1)" class="btn btn-default @prevDisabled">&lt;&lt;</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">&lt;</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">&gt;</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.TotalPages)" class="btn btn-default @nextDisabled">&gt;&gt;</a>